<div id="add-form" class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          class="form-control"
          name="description"
          [ngModel]="descModel"
          required
        />
      </div>
      <div class="col-sm-5 form-group">
        <label for="price">Price</label>
        <input
          type="number"
          id="price"
          class="form-control"
          name="price"
          [ngModel]="priceModel"
          required
          pattern="^[1-9]+[0-9]*$"
        />
      </div>
    </div>
    <div class="row col-xs-12 form-group">
      <button
        class="btn btn-success col-md-6"
        type="submit"
        [disabled]="!f.valid"
      >
        {{ editMode ? "Update" : "Add" }}
      </button>
      <button
        *ngIf="!editMode"
        class="btn btn-warning col-md-6"
        type="button"
        (click)="onClear(f)"
      >
        Clear
      </button>
    </div>
    <div class="row form-group">
      <button
        id="cancel-btn"
        class="btn btn-secondary col-md-2"
        type="button"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        *ngIf="editMode"
        id="delete-btn"
        class="btn btn-danger col-md-4"
        type="button"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
