<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Itemizer</a>
    </div>

    <div class="navbar navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active" *ngIf="!isAuthenticated">
          <a class="navbar-brand" routerLink="/user">Authenticate</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="navbar-brand" routerLink="/about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
          <a class="navbar-brand" routerLink="/items">Items</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="navbar-brand" routerLink="/user" style="cursor: pointer;" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
