<div id="item-list" class="container">
  <div class="row">
    <button id="add-btn" class="btn btn-primary" type="button" (click)="addItem()">
      Add Item
    </button>
    <ul id="currency-dropdown" class="dropdown-menu">
      <li id="currency">currency</li>
    </ul>
  </div>
  <div class="row">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let item of items; let i = index"
        routerLinkActive="active"
        (click)="onSelect(item)"
      >
        <a [routerLink]="['/add-item', i]">
          {{ i }} Description: {{ item.description }} , $ Price:
          {{ item.price }}
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
